body {
    margin: 0;
    padding: 0;
}

#root {
    background: #292929;
    width: 100%;
    height: 100%;
    position: fixed;
}

#root canvas {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: none;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 9px #111111c2;
}

#paint__tools {
    position: absolute;
    min-width: 50px;
    min-height: 100px;
    left: 10px;
    top: 50%;
    transform: translate(0, -48.1%);
    background: #191d2b;
    border-radius: 5px;
    border: 1px solid #414141;
}

.tool__items {
    cursor: pointer;
    padding-top: 2px;
}

.tool__items div {
    width: fit-content;
    padding: 5px;
    padding-right: 8px;
    margin: 3px auto;
    color: white;
    border-radius: 5px;
}

.tool__items  div[data-type="toggle"].selected {
    background: #a4a4a440;
 }

 .tool__items div[data-type="click"]:active {
    background: #a4a4a440;
    padding-left: 10px;
 }