body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    background: #292929;
    width: 100%;
    height: 100%;
    position: fixed;
}

#root canvas {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: crosshair;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 9px #111111c2;
}

#paint__tools {
    position: absolute;
    min-width: 50px;
    min-height: 100px;
    left: 10px;
    top: 50%;
    transform: translate(0, -49.1%);
    background: #191d2b;
    border-radius: 5px;
    border: 1px solid #414141;
}

.tools__buttons-container {
    cursor: pointer;
    padding-top: 2px;
}

.tools__palette-container {
    border-bottom: 1px solid #414141;
    width: 36px;
    margin: 0 auto;
    padding-bottom: 7px;
    margin-bottom: 2px;
}

.tools__buttons-container input {
    max-width: 14px;
    background: #141721;
    border: 1px solid #414141;
    border-radius: 5px;
    padding: 3px 4px;
    text-align: center;
    color: white;
}

.tools__buttons-container input:focus {
    outline: none;
}

.tools__buttons-container div {
    width: fit-content;
    color: white;
    padding: 5px;
    padding-right: 8px;
}

.tools__buttons-container div,
.tools__palette-container div {
    margin: 3px auto;
    border-radius: 5px;
}

.tools__palette-container div{
    width: 1px;
    height: 1px;
    padding: 7px;
    margin-top: 8px;
    border: 1px solid #ffffff47;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    left: 0px;
}

.tools__palette-container  div.selected__color{
    width: 10px;
    left: 3px;
}

.tools__buttons-container  div[data-type="toggle"].selected__tool {
    background: #a4a4a440;
 }

 .tools__buttons-container div[data-type="click"]:active {
    background: #a4a4a440;
    padding-left: 10px;
 }

.tool-counter{
    position: relative;
    border-radius: 4px;
    background-color: #ffffff30;
    padding: 2px 3px 1px 3px;
    color: white;
    z-index: 9;
    left: 9px;
    bottom: -5px;
    font-size: 10px;
    margin-left: -10px;
}